@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    transition: 0.2s ease-in-out;
   
    text-decoration: none;
   
}

@media (max-width: 891px){
    .home{
        overflow-x: hidden
       
    }

    .features{
        overflow-x: hidden
       
    }

    .faq{
        overflow-x: hidden
       
    }
    
}

::selection{
    background-color: var(--Soft-Red);
    color: #fff;
}


::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--Soft-Blue);
}

section {
    padding: 2rem 9%;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
   
}

.heading{
    text-align: center;
    font-size: 2rem;
    color: var(--Very-Dark-Blue);
    margin-top: 10rem;
    margin-bottom: 5rem;
}


.heading h1{
    padding-bottom: 2rem;
}


.heading p{
    max-width: 60rem;
    margin: auto;
    color: var(--Grayish-Blue);
    font-size: 1.7rem;
}


.all-btn{
    padding: 1rem 3rem;
    font-size: 1.5rem;
    background-color: var(--Soft-Blue);
    border-radius: .5rem;
    color: #fff;
}

.all-btn:hover{
    background-color: transparent;
    color: var(--Soft-Blue);
    border: 2px solid var(--Soft-Blue);
}


:root{
    --Soft-Blue: #37BF00;
    --Soft-Red: #309807;
    --Grayish-Blue: hsl(229, 8%, 60%);
    --Very-Dark-Blue: hsl(0, 1%, 28%);
    --box-shadow: .5rem .5rem  0 #226b05 ;
    --text-shadow: .4rem .4rem  0 rgba(0, 0, 0, .2);
    --border: .2rem  solid var(--green);
}


/* navbar sections starts */
.header{
    padding: 3rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0%;
    left: 0;
    z-index: 10000;
    background-color: #fff;
    box-shadow: 0rem 0.5rem 1.5rem rgba(0, 0, 0, .1);
    
}



.video-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--Soft-Blue);
}

.video-container {
    position: relative;
    width: 60%; /* Ajusta el ancho del contenedor según tus necesidades */
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

#player {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* footer section starts */
.testimonios .box-container-testimonio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 2rem;
}

.testimonios .box-container {
    display: flex;
    justify-content: space-between;
} 
.testimonios .box-container .box {
    padding: 2rem;
    background-color: #f2f2f2;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.testimonios .box-container .box h3 {
    font-size: 2.5rem;
    color: var(--black);
    padding: 1rem 0;
}

.testimonios .box-container .box a {
    display: block;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}

/* Estilos adicionales para los videos */
.testimonios .box-container .box iframe {
    width: 100%;
    height: 180px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}


.header .logo{
    cursor: pointer;
}


.header .navbar a{
    margin-left: 2rem;
    font-size: 1.7rem;
    text-transform: uppercase;
    color: rgb(71, 71, 71);
}


.header .navbar a:hover{
    color: var(--Soft-Red);
}


.header .navbar .btn{
    padding: .6rem 3rem;
    background-color: var(--Soft-Red);
    color: #fff;
    border-radius: .5rem;
}

.header .navbar .btn:hover{
    color: #37BF00 !important;
    background-color: transparent;
    border: 2px solid var(--Soft-Red);
}

#menu-btn{
    padding: 1rem 1rem;
    background-color: #eee;
    font-size: 3rem;
    color: var(--Soft-Blue);
    border-radius: .5rem;
    cursor: pointer;
    display: none;
}

.countdown {
    padding:1rem;
    color: var(--Soft-Red);
    font-size: 16px;
    text-align: center;
}
/* Media Queries */




@media (max-width: 991px){
    html{
        font-size: 55%;
       
    }
    .header{
        padding: 2rem;
    }
    
}

@media (max-width: 768px){
    #menu-btn{
        display: initial;
    }

    .header .navbar{
        position: absolute;
        top: 115%;
        right: 2rem;
        box-shadow: var(--box-shadow);
        width: 33rem;
        border-radius: .5rem;
        border: 2px solid var(--Soft-Blue);
        background-color: #fff;
        transform: scale(0);
        transform-origin: top right;
    }
    .logo-img{
        height: 70% !important;
    }
    

    .header .navbar.active{
        transform: scale(1);
    }

    .header .navbar a{
        margin: 2.5rem;
        text-align: center;
        display: block;
        font-size: 2rem;
    }
}


@media (max-width: 450px){
    html{
        font-size: 50%;
    }
}
/* navbar sections ends */


/* home section starts  */

.home{
    padding-top: 15rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* main property for responsiveness */
    gap: 1.5rem;
}


.home .image{
    flex: 1 1 45rem;
}


.home .image img{
    width: 100%;
    margin-top: 5rem;
}


.home .content{
    flex: 1 1 45rem;
}


.home .content h1{
    font-size: 4.5rem;
    padding-block-end: 1rem 0;
    color: var(--Very-Dark-Blue);
}

.home .content p{
    font-size: 1.7rem;
    padding: 1rem 0;
    max-width: 40rem;
    color: var(--Grayish-Blue);
    padding-bottom: 4rem;
}

.home .content .home-btn{
    padding: 1.3rem 2rem;
    background-color: #fff;
    color: #000;
    font-size: 1.4rem;
    box-shadow: .5rem .5rem hsl(141, 94%, 36%);
    border: 2px solid var(--Soft-Blue);
    border-radius: .5rem;
}


.home .content .home-btn:hover{
    background-color: var(--Soft-Blue);
    box-shadow: none;
    color: #fff;
}




/* home section ends */



/* features section starts  */

.features .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
    margin: 3rem 0;
}

.features .row .image{
    flex: 1 1 45rem;
}


.features .row .image img{
    width: 100%;
}



.features .row .content{
    flex: 1 1 45rem;
}


.features .row .content h1{
    font-size: 4rem;
    padding: 1rem 0;
    color: var(--Very-Dark-Blue);
}


.features .row .content p{
    font-size: 1.7rem;
    padding: 1rem 0;
    color: var(--Grayish-Blue);
    padding-bottom: 4rem;
}
/* features section ends */


/* downloads section starts  */

.download .box-container{
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.download .box{
    border: 2px solid var(--Soft-Blue);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    text-align: center;
    padding: 2.5rem;
}
.download .box:hover{
    border: 2px solid var(--Soft-Blue);
    box-shadow: none;
}


.download .box h3{
    font-size: 2rem;
    padding: 1rem 0;
    color: var(--Very-Dark-Blue);
}



.download .box p{
    font-size: 1.7rem;
    padding-bottom: 2.5rem;
    color: var(--Grayish-Blue);
}

/* downloads section ends */



/* footer section starts */
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap:2rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:var(--black);
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    color:var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color:var(--green);
}

.footer .box-container .box a:hover i{
    padding-right:1rem;
   
}


.footer .credit{
    padding: 1rem;
    padding-top: 2rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
    color: rgb(71, 71, 71) !important;
    border-top: .1rem solid rgba(0, 0, 0, .1);
}


.footer .credit span{
    color: var(--Soft-Red);
    cursor: pointer;
}




/* footer section ends */


.faq {
    font-size: 16px;
}

.faq .heading {
    text-align: center;
    margin-bottom: 30px;
}

.faq .accordion-item {
    margin-bottom: 15px;
}

.faq .accordion-title {
    cursor: pointer;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.faq .accordion-content {
    display: none;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
}

.faq .accordion-content p {
    margin-bottom: 0;
}

.faq .accordion-content.active {
    display: block;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .product_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .product_item {
    width: calc(50% - 33px);
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .product_image-link {
    display: block;
    text-decoration: none;
    color: inherit;
  }
  
  .product_image-wrapper {
    display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #f3f6f1c7;
  border-radius: 6px;
  padding: 19px;
  }
  
  .product_image-wrapper img {
    width: 500px;
    height: 300px;
    object-fit: contain;
    text-align: center;
  }
  


  @media (max-width: 767px) {
    
    .product_list {
      flex-wrap: nowrap;
      flex-direction: column;
    }
    
    .product_item {
        width: 100%;
      
    }

    .product_image-wrapper img {
        width: 220px;
        height: 70%;
        object-fit: contain;
        text-align: center;
      }
  }

  
  .title-wrap {
    margin-top: 10px;
  }
  
  .title-wrap h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }
  
  .nombre-autor {
    font-size: 14px;
    color: #666;
  }
  
  .comision-wrapper {
    margin-top: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
  }
  
  .comision {
    margin-right: 5px;
    color: #666;
  }
  
  .precio {
    font-weight: bold;
  }
  
  .button-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #fff !important;
    background-color: var(--Soft-Blue);
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color:var(--Soft-Red);
  }
  
 